// Place all the styles related to the Lenders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.success {
	color: green;
}

.error {
	color: red;
}

.container{
	padding-left: 15px;
	font-size: 12px;

	margin: 0;
}

.borrower {
	font-size: 9px;
}

.table-hover{

}

.reg_lender {

	display: inline-block;

}
.reg_borrower {
	vertical-align: top;
	display: inline-block;
	padding-left: 15px;

}

